.navicon {
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
    display: none; 
  }
  @media (max-width: 750px) {
    .navicon {
      display: block;
    }
  } 
  .nav{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.image1{
    width: 27%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.3s * var(--i));
}
.navb111{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navb{
    font-family: 'Poppins';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0% 4%;
}
.navb h1{
    font-family:'Poppins';
    font-size: 180%;
    font-weight: 600;
}
.navb1{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
    justify-content: center;
}
.navic{
    color: black;
    font-size: 21px;
}
.lk{
    font-size: 100%;
    text-decoration: none;
    color: black;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.3s * var(--i));
}
.lk1{
    padding: 2% 4%;
    font-size: 100%;
    font-weight: 500;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    transition: 600ms;
}
.lk1:hover{
    background-color: #FAF9F5;
    color: black;
    transform: translateX(-6px);
    box-shadow:7px 5px;
    border: 2px solid rgb(63, 62, 62);
}
@media screen and (max-width:756px) and (min-width: 250px){
    .navb1{
        display: flex;
        flex-direction: column;
        background-color: #D8F6EB;
        width: 100%;
        z-index: 999;
        margin-top: 5%;
        align-items: center;
        padding-bottom: 20px;
        border: 2px solid black;
        box-shadow:6px 6px;
        border-radius: 20px;
        padding:3%;
        font-weight: 600;
        gap: 20px;
    }
    .lk{
        padding-top: 10px;
        justify-content: start;
    }
    .navb{
        width: 100%;
    }
    .nav{
        padding: 0% 3%;
    }
}
@keyframes slideLeft {
    0%{
       transform: translateX(100px); 
       opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
       transform: translateY(100px); 
       opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
       transform: translateY(-100px); 
       opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight {
    0%{
       transform: translateX(-100px); 
       opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}